*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Prata', serif;
  color: #1d1d1d;
  --fcolor: white;
  --tcolor: white;
  --icolor: white;
  --ycolor: white;
  --ytbcolor: #12ac99;
  --ffcolor: black;
  --ttcolor: black;
  --iicolor: black;
  --yycolor: black;
  --yytbcolor: white;
}

nav {
  height: 10vh;
  width: 100vw;
  box-sizing: border-box;
  padding-left: 25vw;
  padding-right: 25vw;
  font-size: 20px;
}
nav ul {
  list-style-type: none;
  height: 10vh;
}
nav ul li {
  display: inline-block;
  padding: 33.5px;
  height: 10vh;
  box-sizing: border-box;
}
nav ul li:hover {
  background-color: #12ac99;
  color: white;
  transition: .3s;
}

.b1 {
  box-sizing: border-box;
  height: 885px;
  width:100vw;
  background-color: #4a4a4a;
}
.b1_socials {
  background-color: #05a893;
  float: left;
  box-sizing: border-box;
  margin-top: 200px;
  padding: 50px 20px 25px 20px ;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
}
.b1_socials ul {
  list-style-type: none;
}
.b1_socials ul li {
  margin-bottom: 25px;
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: #05a893;
  box-sizing: border-box;
}
.facebook {
  padding-top: 15px;
  padding-left: 16px;
  width: 65px;
  height: 65px;
}
.twitter {
  width:65px;
  height: 65px;
  padding-top: 17.5px;
  padding-left: 20px;
  }
.inst {
  width: 65px;
  height: 65px;
  padding-top: 17.5px;
  padding-left: 17.5px;
}
.yt {
  width: 65px;
  height: 65px;
  padding-top: 17.5px;
  padding-left: 17.5px;
}
.b1_socials ul li:hover {
  background-color: white;
  transition: .3s;
}
.scs1:hover{
  --fcolor: #05a893;
}
.scs2:hover {
  --tcolor: #05a893;
}
.scs3:hover {
  --icolor: #05a893;
}
.scs4:hover {
  --ycolor: #05a893;
  --ytbcolor: white;
}
.b1_butt button{
  background-color: #05a893;
  width: 100px;
  height: 90px; 
  border: none;
}
.b1_butt {
  position: relative;
  top: 794px;
}
.b1_l {
  border-top-left-radius: 50%;
  margin-right: 3px;
}
.b1_r {
  border-top-right-radius: 50px;
}
.b1_butt button:focus {
  outline: none;
  background-color: #09e2a7;
}
.info {
  width: 675px;
  height: 666px;
  position: relative;
  top: 129px;
  left: 1050px
}
.info_top {
  box-sizing: border-box;
  padding-top: 80px;
  height: 436px;
  width: 675px;
  background-color: #ededed;
}
.info_bot {
  height: 230px;
  width: 675px;
  background-color: #05a893;
}
.info_top h2 {
  opacity: .7;
  padding-top: 20px;
  padding-left: 200px;
  padding-bottom: 20px;
}
.info_hr {
  height: 2px;
  width: 370px;
  background: radial-gradient(#3a3a3a, #e2e2e2);
  border: none;
}
.info_top h2 strong {
  padding-left: 45px;
  font-size: 32px;
}
.info_top p {
  text-align: center;
  margin-right: 150px;
  font-size: 20px;
}
.info_bot h2 {
  color: white;
  font-family: century;
  letter-spacing: 1.2px;
  font-weight: 500;
  font-size: 30px;
  width: 300px;
  margin-left: 180px;
  padding-top:40px;
}
.info_bot ul li {
  display: inline-block;
  width: 110px;
  color: white;
  font-size: 20px;
}
.info_bot ul li h4 {
    font-size: 40px;
}
.info_bot ul {
  margin-top: 40px;
}
.b2 {
  background-color: #fff;
  width: 100vw;
  padding-top: 120px;
}
.b2 h1 {
  font-family: 'Sail', cursive;
  font-size: 48px;
  text-align: center;
  color: #05a893;
  padding-bottom: 40px;
}
.b2 p {
  width: 770px;
  font-family: 'Prata', serif;
  margin-left: 600px;
  text-align: center;
  font-size: 18px;
  opacity: .7;
}
.b2_content {
  width: 1300px;
  margin: auto;
  height: 650px;
  margin-bottom: 200px;
  margin-top: 100px;
}
.name {
  font-family: 'Sail', cursive;
  font-size: 40px;
  color: #45bfb0;
  width: 255px;
  float: left;
}
.aftername {
  position: relative;
  top: 25px;
  width: 80px;
  height: 3px;
  border: none;
  background-color: #45bfb0;
  float: left;
} 
.robin {
  width: 650px;
  height: 325px;
  float: left;
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 60px;
}
.robin p {
  text-align: left;
  width: 590px;
  display: inline-block;
  margin-left: 0;
  padding-top: 30px;
}
.b2_social li {
  display: inline-block;
  margin: 15px;
}
.facebook2 {
  width: 30px;
  height: 30px;
}
.twitter2 {
  width: 30px;
  height: 30px;
}
.inst2 {
  width: 30px;
  height: 30px;
}
.yt2 {
  width: 30px;
  height: 30px;
}
.ytb2 {
  width: 30px;
  height: 30px;
}
.ffacebook:hover {
  --ffcolor: #12ac99;
  transition: .3s;
}
.ttwitter:hover {
  --ttcolor: #12ac99;
  transition: .3s;
}
.iinst:hover {
  --iicolor: #12ac99;
  transition: .3s;
}
.yyt:hover {
  --yycolor: #12ac99;
  --yytbcolor: white;
  transition: .3s;
}
.nerobin {
  width: 650px;
  height: 325px;
  float: left;
  background-image: url(src/Finland.jpg);
  background-size: cover;
}
.b2_social ul {
  position: relative;
  left: -20px;
}
.flowers {
  position: relative;
  left: 1300px;
  bottom: 600px;
  width: 300px;
}

.b3 {
  width: 100vw;
  box-sizing: border-box;
  padding: 0 375px 100px 375px;
  height: 1200px;
}
.b3 h1 {
  font-family: 'Sail', cursive;
  font-size: 48px;
}
.b3 p {
  margin-left: 0px;
  margin: auto;
  font-size: 18px;
}
.collage {
  margin-top: 100px;
  margin-bottom: 100px;
}
.collage_bottom {
  float: left;
  margin-top: 30px;
  height: 570px;
}
.coll_bot_block {
  width: 770px;
  height: 570px;
  float: left;
}
.block_top {
  width: 770px;
  height: 270px;
}
.b4 h1 {
  font-family: 'Sail', cursive;
  font-size: 48px;
}
.b4 p {
  margin-left: 0px;
  margin: auto;
  font-size: 18px;

}
.story {
  width: 1400px;
  height: 605px;
  margin: auto;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
}
.story_left {
  height: 605px ;
  width: 605px;
  background-size: cover;
  background: url(src/story-bg.png);
  vertical-align: middle;
  float: left;
}
.story_left img{
  margin-top: 65px;
  margin-left: 65px;
  width: 475px;
  height: 475px;
  border-radius: 50%;
}
.story_des {
  padding-top: 200px;
  padding-left: 120px;
  float: left;
}
.story_des h3 {
  opacity: .7;
}
.story_des hr {
  height: 2px;
  background-color: black;
  border: none;
  border-radius: 4px;
  width: 40px;
  position: relative;
  top: -15px;
  left: 165px;
}
.story_des h2{
  font-family: 'Sail', cursive;
  color:  #12ac99;
  font-size: 36px;
  line-height: 70px;
}
.story_des p {
  width: 600px;
  text-align: left;
}
.story_des a {
  color: #12ac99;
  font-size: 28px;
  text-decoration: none;
  line-height: 70px;
}
.b4 {
  height: 2800px;
  width: 100vw;
  float: left;
}

