* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 0;
    margin-left: 0;
    color: white;
    /*обводка вокруг букв*/
    -webkit-text-stroke: .1px black;
    line-height: normal;
}
body {
    background-image: url("../images/back-image.jpg");
    background-size: cover;
}
/*прослойка между фоном и текстом*/
body > .layout {
    background-color: rgba(0, 0, 0, .1);
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    margin: 0;
    font-weight: 550;
    line-height: 50px;
    background-color: rgba(18, 2, 2, 0.2);
    color: black;
    text-transform: uppercase;
}
.photo img {
    position: absolute;
    right: 10px;
    top: 11%;
    width: 20%;
    color: white;
    border: 10px solid white;
    border-radius: 50px;
}
div.assessment {
    text-align: right;
}
#asses {
    color: black;
}
h4.assessment {
    color: rgb(120, 10, 100);
    margin: 0;
    padding: 0;
}
.det-link{
    margin-bottom: 0;
}
.det-info{
    margin: 0;
}
.personal-data{
    height: 400px;
}
.rnc-api {
    padding-top: 10px;
    padding-bottom: 10px;
}
li {
    margin-left: 0;
    padding: 0;
}
li span, tr th, p span {
    font-weight: 550;
    color: black;
    -webkit-text-stroke: .1px red;
}
a {
    text-decoration: none;
}
a:hover {
    color: black;
}
a#rnc {
    font-size: 20px;
}
hr {
    border: none;
    background-color: black;
    color: black;
    height: 3px;
    margin: auto;
    width: 300px;
}
ul {
    list-style-type: none;
}
table {
    margin: auto;
    height: 300px;
}

.footer {
    background-color: black;
    display: flex;
    height: 300px;
    margin: 0;
    padding: 0;
    border: 0;
}
.footer-text {
    color: white;
    margin: auto;
    font-size: 24px;
}
